{% extends "User/base.html.twig" %}
{% block title %}{{category.title}}{% endblock %}
{% block description %}{{category.description}}{% endblock %}
{% block keywords %}{{category.keywords}}{% endblock %}
{% block body %}
    <section class="header_text sub">
        	{{ render(controller('App\\Controller\\MainController::get_slider')) }}	
				<h4 class="title">
                    <span class="text">
                        <strong>{{category.title}}</strong>
                        Category</span></h4>
            
    </section>
    <section class="main-content">
        <div class="row">
            <div class="span12">
                <ul class="thumbnails listing-products">
                    {% for product in products %}
                        <li class="span3">
                            <div class="product-box">
                                <span class="sale_tag"></span>
                                <a href="/product_detail/{{product.id}}"><img alt="" src="/uploads/product_imgs/{{product.image}}" style="width:300px;height:300px"></a><br/>
                                <a href="/product_detail/{{product.id}}" class="title">{{product.title}}</a><br/>
                                <a href="#" class="category">{{product.type}}</a>
                                <p class="price">${{product.sprice}}</p>
                                <a href="/cart/add/{{product.id}}/1" tabindex="3" class="btn btn-inverse" type="submit" >Add </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
{% endblock %}